.basic {
    width: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: rgb(230, 230, 230);
    padding: 1em 2em;
    margin-bottom: 30px;
    justify-content: flex-start;
    border-radius: 3px;

    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.form label {
    margin: .25rem 0;
}

.form input {
    margin-bottom: .5rem;
}

.form button {
    width: 40%;
    border: none;
    background-color: purple;
    color:rgb(230, 230, 230);
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    padding: .5rem 1rem;
}

.item {
    background-color: lightblue;
    border: 1px solid darkgrey;
    padding: .5rem 0;
}

.backdrop {
    position: fixed;
    z-index: 15;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    background-color: black;
    opacity: 40%;
}

.modal {
    z-index: 16;
    position: fixed;
    top: 30vh;
    left: 30%;
    width: 40%;
}

.modal button {
    border: none;
    width: 10rem;
    align-self: flex-end;
    background-color: purple;
    color:rgb(230, 230, 230);
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    padding: .5rem 1rem;
    cursor: pointer;
}
